<footer class="footer">
    <div class="wrap grid">

        {% if site.data.settings.footer_settings.logo_image %}
        <a href="{{ site.baseurl }}/" class="footer__logo">
            <img src="{{ site.data.settings.footer_settings.logo_image | relative_url }}" class="footer__logo__img">
        </a>
        {% else %}
        <a href="{{ site.baseurl }}/" class="footer__title">
            <img src="/images/logo.svg" alt="">
            {{ site.data.settings.basic_settings.site_title }}
        </a>
        {% endif %}

        <div class="footer__navbar">
            {% for item in site.data.settings.menu_settings.menu_items %}
                {% if site.data.settings.menu_settings.menu_items[0] == item %}
                <a href="{{ item.url | relative_url }}" class="header__cta menu__list__item__link button--text">{{
                    item.title }}</a>
                {% else %}
                |
                <a href="{{ item.url | relative_url }}" class="header__cta menu__list__item__link button--text">{{
                    item.title }}</a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="footer__copyright">
            {% if site.data.settings.footer_settings.tagline %}
            <p>{{ site.data.settings.footer_settings.tagline }}</p>
            {% endif %}
            <span class="footnote">
				© Octonus Software {{ 'now' | date: "%Y" }}. All rights reserved.
			</span>
        </div>

    </div>
