<header class="header--main">

    <div class="wrap grid__2-col">

        <a href="{{ site.baseurl }}/" class="header__logo">
            <img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
            <span class="header__logo__trailing">{{ site.data.settings.basic_settings.site_title }}</span>
        </a>

        <div class="menu__toggle js-menu-toggle">
            <div class="menu__toggle__icon"><span></span></div>
        </div>

        <nav class="header__menu">
            <div class="menu__wrap">
                <ul class="menu__list">
                    {% for item in site.data.settings.menu_settings.menu_items %}
                    <li class="menu__list__item">
                        <a href="{{ item.url | relative_url }}" class="menu__list__item__link button--text">{{
                            item.title }}</a>
                    </li>
                    {% endfor %}

                    <!--                    // show/hide Get In Touch-->
                    <!--                    <li class="menu__cta">-->
                    <!--                        <a href="#" class="menu__cta__link button&#45;&#45;text contact-trigger js-contact">Get In Touch</a>-->
                    <!--                    </li>-->

                </ul>
            </div>
        </nav>

        <!--                    // show/hide Get In Touch-->
        <!--        <a href="#" class="header__cta button&#45;&#45;fill contact-trigger js-contact">Get In Touch</a>-->

    </div>

</header>
