// - - - - - - - - - - - - - - - - - -

// Section - Hero

// - - - - - - - - - - - - - - - - - -


.hero {
	position: relative;
	padding: 0 0 50px;

	.wrap {
	}

	.title {
		margin-bottom: 24px;
		max-width: 380px;
	}

	.title .subtitle {
	}

	.intro {
		position: relative;
		max-width: 340px;
	}

	.hero__cta {
		position: absolute;
		left: 0;
		bottom: -70px;
	}

	@include mq(tabletp) {

		.wrap {
			grid-template-columns: 1fr;
		}

		.title {
			max-width: none;
		}

		.intro {
			align-self: end;
			max-width: 900px;
		}

		.hero__cta {
			display: none;
		}
	}
}

.hero__background {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(-50%) scale(2);
	z-index: -1;
	max-width: 190%;
	display: none;

	@include mq(tabletp) {
		display: block;
	}
}
